/* Additional style for sign-up button */
.sign-up-button {
  background-color: #4ecba2;
  color: black;
  border-radius: 10px; /* Make the rectangle bigger */
  padding: 15px 30px; /* Increase padding */
  font-family: 'Raleway', sans-serif;
  font-size: 18px; /* Increase font size */
  border: none;
  cursor: pointer;
  margin-left: 20px; /* Add margin for spacing */
}

/* Adjust styles for mobile */
@media only screen and (max-width: 768px) {
  .sign-up-button {
    margin-left: 0; /* Remove margin for mobile */
    margin-top: 20px; /* Add margin at the top */
  }
}
