/* Import Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

/* Styles scoped to a class or ID */
.home {
  /* Apply styles to the container element, like a div */
}

/* Desktop Styles */
.home .desktop-body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; /* Apply Raleway font */
}

.home main {
  background-color: #ebeadf;
  padding: 20px;
}

.home header {
  background-image: url('../public/bg1.png');
  background-size: cover;
  height: 44vh; 
}

.home footer {
  background-color: rgba(78, 203, 162, 0.75); 
  padding: 20px;
  color: white;
  text-align: center;
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .home header {
    height: 30vh; 
  }
  .home main {
    padding: 10px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .home header {
    height: 20vh; /* Adjust height for mobile */
  }
  .home main {
    padding: 5px;
  }
}
