/* home.module.css */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  color: #4ECCA3;
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-bar {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 12px;
  margin-right: 10px;
}

.search-button {
  background-color: #4ECCA3;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.recipe-list {
  list-style: none;
  padding: 0;
}

.recipe-item {
  background-color: #f8f8f8;
  color: #4ECCA3;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}
