/* recipe.module.css */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-title {
  color: #4ECCA3;
  font-size: 2rem;
  margin-bottom: 20px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

.recipe-notes {
  background-color: #f8f8f8;
  color: #4ECCA3;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.recipe-description {
  color: #000;
  margin-bottom: 20px;
}

.ingredients-list {
  list-style: none;
  padding: 0;
}

.ingredient-item {
  background-color: #f8f8f8;
  color: #4ECCA3;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.instructions {
  color: #000;
}
