@import url('./global.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.container {
  background-color: #ebeadf;
  padding: 20px;
}

.footer {
  background-color: rgba(78, 203, 162, 0.75);
  padding: 20px;
  color: white;
  text-align: center;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.recipe-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.recipe-details {
  padding: 10px;
}

.recipe-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .header {
    height: 30vh;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 480px) {
  .header {
    height: 20vh;
  }
}
