
.searchContainer {
  display: flex;
  flex-flow: column;
}

.searchButton {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: grey;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}


.searchButton:hover {
  background-color: #4ecba2;
  color: white;
}

.searchInput {
    font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: grey;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.smallButton {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: lightgrey;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.smallButton:hover {
  background-color: #f0f0f0;
}

.cookNowButton {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #4ecba2;
  background-color: white;
  border: 2px solid #4ecba2;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.cookNowButton:hover {
  background-color: #4ecba2;
  color: white;
}

/* Positioning for buttons */
.buttonsContainer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .buttonsContainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
