/* search.module.css */

/* Ensure styles are scoped to the search container */
.searchContainer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

.searchInput {
  width: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  font-family: Palatino, serif;
}

/* Specify class names for buttons */
.addMoreButton,
.cookNowButton,
.lessButton {
  width: 100px; /* Adjusted width for smaller buttons */
  height: 30px; /* Adjusted height for smaller buttons */
  padding: 5px; /* Adjusted padding for smaller buttons */
  margin: 5px;
  border-radius: 15px; /* Smaller border radius */
  border: none;
  cursor: pointer;
  font-family: Palatino, serif; /* Ensure Palatino font-family */
  align-self: flex-start; /* Align buttons to the left */
}

.addMoreButton {
  background-color: white;
  color: lightgrey;
  border: 1px solid lightgrey; /* Adding light grey outline */
}

.addMoreButton:hover {
  background-color: lightgrey;
  color: white;
}

.cookNowButton {
  background-color: white;
  color: #4ecba2; /* Font color */
  border: 2px solid #4ecba2; /* Adding 4ecba2 color outline */
}

.cookNowButton:hover {
  background-color: #4ecba2;
  color: white; /* Font color on hover */
}

.lessButton {
  background-color: white;
  color: lightgrey;
  border: 1px solid lightgrey; /* Adding light grey outline */
}

.lessButton:hover {
  background-color: lightgrey;
  color: white;
}
